<h1 class="text-center">Nouveau prêt</h1>

<form name="share" class="form-horizontal">
    <legend>Détails</legend>
    <div class="control-group">
        <label class="control-label">Objet</label>
        <div class="controls">

            <input type="text" placeholder="Description" ng-model="item.name" required>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Emprunteur</label>
        <div class="controls">

            <input type="text" placeholder="A qui ?" list="contacts" name="who" ng-model="item.who" ng-required="true">

            <datalist id="contacts">
                <option value="Odile">
                <option value="Seb">
            </datalist>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Durée</label>
        <div class="controls">
            <input type="number" ng-model="returnDelay" required>
            <span class="help-inline">jour(s)</span>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" ng-disabled="share.$invalid" ng-click="save()">Enregistrer</button>
        <button class="btn" ng-click="cancel()">Annuler</button>
    </div>
</form>